.foreground {
	z-index: 2;
}

.header {
	color: #ffffff;
	height: auto;
	margin: auto;
	margin-top: 0;
	text-align: center;
	width: 60%;
}

.headerBackground{
	z-index: -1;
	width:100%;
	height:750px;
	top: -10%;
	left:0%;
	position: absolute;
	margin-top: 0px;
	background: linear-gradient(#f95959, #ffb74a);
	border-bottom-left-radius: 50% 10%;
	border-bottom-right-radius: 50% 10%;
  }
  
#headerText {
	font-size: 75px;
	text-align: center;
	text-shadow: 3px 3px rgb(43, 43, 43);
}

.menuItems {
	font-size: 25px;
}

#menuItem {
	text-shadow: 2px 2px rgb(43, 43, 43);
	margin: 10%;
	display: inline;
}

#menuItem > a {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
}

#menuItem > a:hover {
	color: #e6e6e6;

}
  
body {
	font-family: 'Lato', sans-serif;
	background: rgb(51, 51, 51);
	padding-bottom: 20px;
}

#textBox {
	border-radius: 25px;
	background: #757575;

	position: relative;
	top: 50px;

	margin: auto;
	margin-bottom: 200px;
	
	padding: 20px;
	padding-bottom: 25px;
	
	width: 60%;
	height: auto;
	min-height: 1000px;

	animation: movein 0.25s;
}

@keyframes movein {
	0% { transform: translateY(0x);}
	50% { transform: translateY(10px);}
    100%   { transform: translateY(0px);}
}

#mainContent {
	text-align: center;
	font-size: 50px;
	color: #ffffff;
}

#mainContent > p {
	font-size: 25px;
	margin: 50px;
}

.button {
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #505050;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: #383838
}

.button:active {
	background-color: #383838;
	box-shadow: 0 5px #999;
	transform: translateY(4px);
}

hr {
	display: block;
	border: 3px solid white;
	border-radius: 5px;
}

#itemChoice {
	border-radius: 10px;

	position: relative;
	display: inline-block;
	margin: 15px;
	width: 25%;
	min-height: 500px;
	min-width: 400px;
	background: #c2c2c2;

}

#itemChoice > img {
	display: block;
	position: relative;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: auto;
	max-width: 300px;
}

#externalLinks {
	margin: auto;
	width: 50%;
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	
}

#externalLinks > a {
	
	vertical-align: middle;
	display: inline-block;
	width: 50px;
	margin: 25px;
	position: relative;
}

#clickableLogos > img {
	
	vertical-align: middle;
	width: 50px;
	margin: 25px;
	position: relative;
}

/* This part handles the message bubble */

.messageBubble {
	z-index: 2;
	position: fixed;
	width: 75px;
	height: 75px;
	bottom: 50px;
	right: 50px;
	border-radius: 50%;
	box-shadow: 5px 5px 20px #1b1b1b ;
	background-color: #ff8534;
	text-align: center;
}

.messageBubble:hover {
	background-color: #df7733;

}

.messageBox {
	z-index: 1;
	position: fixed;
	width: 75px;
	height: 75px;
	bottom: 50px;
	right: 50px;
	border-radius: 37.5px;
	box-shadow: 5px 5px 20px #1b1b1b ;
	background-color: #ff8534;
	text-align: center;
	transition: all 500ms ease;
}

/* Handles whether the messageBox is active */

.active {

}